header {
    display: flex;
    align-items: center;
    height: 4em;
    flex-grow: 0;
    padding-left: 0.3em;
    background: #ddd;
    .logo {
        font-size: 2em;
    }
}

img {
    width: 1em;
}