<form class="max-width" [formGroup]="f" (ngSubmit)="submit()">

  <div class="center">Quizz: {{quizz.currentQuizz.name}}</div>
  <div class="center">Question {{quizz.currentQuizz.questions.length + 1}}</div>
  <label>
    <div>Texte de la question*</div>
    <textarea rows="3" formControlName="label"></textarea>
  </label>
  <div>Réponses possibles*</div>

  <div class="answers">
    <div class="inputs">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="radios">
      <input type="radio">
      <input type="radio">
      <input type="radio">
      <input type="radio">
    </div>
  </div>
  <div class="help">Cocher la bonne réponse</div>
  <div class="buttons">
    <button type="button" routerLink="/questions">Annuler</button>
    <button [disabled]="f.invalid">Ajouter la question</button>
  </div>
</form>