<form class="max-width" [formGroup]="f" (ngSubmit)="submit()" *ngIf="quizz.currentQuizz">

  <div class="center">Quizz: {{quizz.currentQuizz.name}}</div>
  <div class="center">Question {{quizz.currentQuizz.questions.length + 1}}</div>
  <label>
    <div>Texte de la question*</div>
    <textarea rows="3" formControlName="label"></textarea>
  </label>
  <div>Réponses possibles*</div>

  <div class="answers">
    <div class="inputs">
      <input type="text" formControlName="answerA">
      <input type="text" formControlName="answerB">
      <input type="text" formControlName="answerC">
      <input type="text" formControlName="answerD">
    </div>
    <div class="radios">
      <input type="radio" formControlName="goodAnswer" value="A">
      <input type="radio" formControlName="goodAnswer" value="B">
      <input type="radio" formControlName="goodAnswer" value="C">
      <input type="radio" formControlName="goodAnswer" value="D">
    </div>
  </div>
  <div class="help">Cocher la bonne réponse</div>
  <div class="buttons">
    <button type="button" routerLink="/questions">Annuler</button>
    <button [disabled]="f.invalid" class="primary">Ajouter la question</button>
  </div>
</form>